doctype html
html
  head
    title La Tavola

    link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"

    link rel="stylesheet" href="/stylesheets/rouge.css"
    link rel="stylesheet" href="/stylesheets/tavola.css"

  body
    .container
      .row
        / X-file Navigation
        .col-md-3
          h1 Other QEDs
          ul.nav
            - for demonstration in @all
              li
                a href="/#{demonstration.relative_path}"= demonstration.relative_path

        / Content
        .col-md-9
          == yield